<h2>UI Flat kit</h2>
<p>This is opensource UI-Flat kit based on work of <a href="http://artemnosenko.com">Artem Nosenko</a>.</p>
<h2>Buttons</h2>
<p>Hover and push included</p>
<table>
  <thead>
    <th>Title</th>
    <th>View</th>
    <th>CSS selector</th>
  </thead>
  <tr>
    <td>Green button</td>
    <td><a href="#" class="btn green">Sign up</a></td>
    <td>.btn .green</td>
  </tr>
  <tr>
    <td>Blue button</td>
    <td><a href="#" class="btn blue">Sign in</a></td>
    <td>.btn .blue</td>
  </tr>
  <tr>
    <td>Gray button</td>
    <td><a href="#" class="btn grey">Usual button</a></td>
    <td>.btn .grey</td>
  </tr>
</table>
<h2>Antislider</h2>
<p>Looks like slider, but different behavior -- image picker</p>
<div id="antislider">
  <slides>
    <slide data-small="1-small.jpg" data-large="1-large.jpg"></slide>
    <slide data-small="2-small.jpg" data-large="2-large.jpg"></slide>
    <slide data-small="3-small.jpg" data-large="3-large.jpg"></slide>
    <slide data-small="4-small.jpg" data-large="4-large.jpg"></slide>
  </slides>
</div>