#antislider{
 slides{
   display: inline-block;
   width: 223px;
   height: 58px;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
   background-color: #fff;
   slide{

   }
 }
}