.btn {
  min-width: 170px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  &.green {
    font-family: Montserrat;
    font-size: 18px;
    color: #fff;
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #2ecc71;
    &:hover {
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #35db7c;
    }
    &:active {
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #22b360;
    }
  }
  &.blue{
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #3498db;
    &:hover{
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #42a8ec;
    }
    &:active{
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #2a86c4;
    }
  }
  &.grey{
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #7f8c8d;
    &:hover{
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #9aa4a5;
    }
    &:active{
      height: 50px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #646f70;
    }
  }
}